#my-canvas {
    background-color:white;
    border-radius:10px;
    box-shadow: 8px 8px 5px rgba(127, 129, 131, 0.589);
}
.main {
    width: 1350px;
    height: 700px;
}
.canvas {
    width: 1000px;
    margin: 50px;
    float: left;
}
.tools {
    width: 240px;
    margin-left: 0px;
    margin-top: 50px;
    float: right;
    text-align: center;
}
.selection {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}
.row{
    width: 100%;
    text-align: center;
    margin: 0px auto;
    line-height: 60px;
}
.btn {
    width: 60px;
    height: 60px;
    background-color:rgba(140, 179, 207, 0.733);
    transition: background 0.3s;
    border: 0px;
    border-radius: 50%;
    box-shadow: 3px 3px 2px rgba(127, 129, 131, 0.589);
    text-align: center;
    margin:8px;
}
.btn:hover {
    background: #e9f4f7e3;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}
  
/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 90%; /* Full-width */
    height: 25px; /* Specified height */
    background: #e2ebee; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    box-shadow: 3px 3px 2px rgba(127, 129, 131, 0.589);
    margin: 0px auto;
}
  
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(140, 179, 207); /* Green background */
    cursor: pointer; /* Cursor on hover */
}
  
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(140, 179, 207); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
    margin: 0 auto;
    box-shadow: 3px 3px 2px rgba(127, 129, 131, 0.589);
    opacity: 0.7;
}
.custom-select select {
    display: none; /*hide original SELECT element: */
}
.custom-select:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.select-selected {
    background-color: rgba(140, 179, 207);
}
  
  /* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 6px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 2px 10px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: rgba(140, 179, 207);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.226);
  }